* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-board {
    border: black 1px solid;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    flex: 0 0 10%;
    border: 0.5px grey solid;
}