* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#drawing-board {
    border: black 1px solid;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: #000000;
    opacity: 0;
}

#color-picker {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

#pick-black {
    background-color: black;
    flex: 0 1 40px;
    height: 40px;
}
#pick-red {
    background-color: red;
    flex: 0 1 40px;
        height: 40px;


}
#pick-green {
    background-color: green;
    flex: 0 1 40px;
        height: 40px;


}
#pick-blue {
    background-color: blue; 
    flex: 0 1 40px;
        height: 40px;

}